.intro-container {
    
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line on smaller screens */
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    text-align: center;
    background-color: black;
    color: #fff;
}

.intro-text {
    flex: 1;
    padding: 0 10px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.intro-description {
    font-size: 18px;
    margin-top: 10px;
}


.intro {


    font-size: 36px;
}

.intro-p {


    font-size: 26px;
    color: #fff;
}

.image-container {
    flex: 1;
    display: flex;
    
    justify-content:center;
    animation: fadeIn 1s ease forwards;
}

/* Media query for tablet screens */
@media screen and (max-width: 768px) {
    .intro-text {
        flex: 100%;
        /* Take up full width on smaller screens */
        padding: 0;
        /* Remove padding on smaller screens */
    }
}

/* Media query for mobile screens */
@media screen and (max-width: 480px) {
    .intro {
        font-size: 24px;
        /* Decrease font size for smaller screens */
    }

    .intro-p {
        font-size: 18px;
        /* Decrease font size for smaller screens */
    }
}

.icon-container {
    display: inline-flex;
    gap: 20px; /* Adjust the spacing between icons */
}

.social-icons{

    font-size: 15px;
}
